@charset "utf-8";


@import url();

:root{
  --base_txt_color:#333;
  --base_font-size:15px;
  }

body{
 font-family: 'Noto Sans KR', '맑은고딕';
  font-size:var(--base_font-size);
  color:var(--base_txt_color);
}

a{
  font-size:var(--base_font-size);
  color:var(--base_txt_color);

}

a:hover{text-decoration:underline;}